<div class="sidebar sidebar-core d-flex flex-column justify-content-start">
    <div class="logo">
        <a href="{{_base.root}}/menu.html">
            <img src="https://orig11.deviantart.net/98a1/f/2012/247/f/6/random_logo_i_was_bored_designing_by_shadow3vi1-d5difqb.png">
        </a>
    </div>
    {{!--
    <div class="item menu highlight" data-toggle="tooltip" data-placement="right" title="Menu">
        <a href="{{_base.root}}/menu.html">
            <span class="fa fa-bars fa-fw"></span>
        </a>
    </div> --}}
    <div class="items d-flex flex-column justify-content-start">
        <div class="item menu {{#if sel_dashboard}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a href="{{_base.root}}/theme.html">
                <span class="fa fa-dashboard"></span>
            </a>
        </div>
        <div class="item menu {{#if sel_data}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Lorem">
            <a href="{{_base.root}}/data.html">
                <span class="fa fa-building"></span>
            </a>
        </div>
        <div class="item menu {{#if sel_invoices}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Invoices">
            <a href="{{_base.root}}/invoices/overview.html">
                <span class="fa fa-files-o"></span>
            </a>
        </div>
        <div class="item menu {{#if sel_chat}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Chat">
            <a href="{{_base.root}}/chat.html">
                <span class="fa fa-comments"></span>
            </a>
        </div>
        <div class="mt-auto">
            <div class="item menu {{#if sel_profile}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Profile">
                <a href="{{_base.root}}/profile.html">
                    <span class="fa fa-user-circle"></span>
                </a>
            </div>
            <div class="item menu {{#if sel_settings}}active{{/if}}" data-toggle="tooltip" data-placement="right" title="Settings">
                <a href="{{_base.root}}/settings.html">
                    <span class="fa fa-cogs"></span>
                </a>
            </div>
            <div class="item menu" data-toggle="tooltip" data-placement="right" title="Sign Out">
                <a href="{{_base.root}}/signin.html">
                    <span class="fa fa-power-off"></span>
                </a>
            </div>
        </div>
    </div>
</div>